#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 512px;
    width: 512px;
}

button {
    width: 60px;
    height: 20px;
    font-size: 12px;
}