body {
    font-family: "Press Start 2P", system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #e7e7e7;
}

h1 {
    margin: 0;
}

#header {
    width: auto;
    padding: 40px 0;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid gray;
    height: 512px;
    width: 512px;
    box-shadow: 0px 0px 10px gray;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    margin: 20px;
}

button {
    font-family: "Press Start 2P", system-ui;
    font-size: 7px;
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: #4c16fd;
    color: rgb(234, 233, 233);
    cursor: pointer;
}

button:hover {
    background-color: #4c17fdcc;
}

#color-picker {
    background-color: #4c16fd;
    border-radius: 4px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
}

#footer-text {
    font-size: 10px;
    color: #161616;
}

#footer-image {
    width: 17px;
    height: 17px;
    transition: transform 0.7s ease-in-out;
}

#footer-image:hover {
    transform: rotate(360deg);
}